.tapp{

}
.AppHolder{

}

.accordion__content{

}
.nextButtonHolder{
  display: flex;
  justify-content: center;
}

///////ChildInfo
.zipCityDiv{
  display: flex;

  .ZIP{
    margin-right: 5px;
    width: 40%;
  }
  .city{
    width: 60%;
  }
}

.birthdayChild{
  display: flex;
  justify-content: space-between;
  a{
    height: 21px;
  }
}


////////Event
.slistItem{
  display: flex;

  p{
    margin-right: 3px;
  }
  .first{
    width: 50px;
    text-align: center;
  }
}


///////Supervisor

.personFinder{
  margin: 20px 0 28px;
}
.radioHolder{


  :nth-child(n){

  }

}
.namePtag{
  margin-top: 10px;
}

/////////Summary
.sigCanvasParent{
  background-color: rgba(150, 149, 147, 0.2);
  height: 200px;
  width: 100%;
  //max-width: 500px;
}

.sigCanvasSupervisor{
  background-color: rgba(150, 149, 147, 0.2);
  height: 200px;
  width: 100%;
}

.summaryNames{

  font-weight: bold;
}
.canvasUnderline{
  text-align: center;
}

.summaryCheckbox{
  margin: 14px 0;
}

.ankerHolder{
  display: flex;
  justify-content: flex-end;
  .verwerfenAnker{

  }
}
.imgHolder {
  display: flex;
  justify-content: space-evenly;
  img{
    border: 1px solid rgba(128, 128, 128, 0.44);
    margin: 0 0 10px 0;
  }

  .signP {
  width: 40%;
  }

  .signS {
  width: 40%;
  }
}


.deleteCanvas{



  .deleteCanvasButton{
    z-index: 10;
    position: absolute;
    right: 10px;
    margin-top: 0 !important;
    border-radius: 0 !important;
    opacity: .7;
    background-color: white !important;
  }
}
/////////Parent/Supervisor
.pChangins{
  color: red;
  //z-index: 10;
  //position: absolute;
  ////left: 10px;
  //margin-top: 0 !important;
  //margin-left: 4px;

}

